#canvas {
    background-image: url("../assets/images/sf_background.png");
    background-size: cover;
    cursor: pointer;
}

#restart {
    font-size: 100px;
    margin-top: 200px;
    margin-left: 30px;
}